<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Registrati</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-grid">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="firstname" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Cognome</mat-label>
            <input matInput formControlName="lastname" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="email" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Conferma Password</mat-label>
            <input
              matInput
              formControlName="checkpassword"
              type="password"
              required
            />
            <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
              Le password non corrispondono
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Data di nascita (opzionale)</mat-label>
            <input matInput formControlName="birthDate" type="date" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Genere (opzionale)</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let g of genderOptions" [value]="g">{{
                g
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-field image-upload-link">
            <button
              mat-button
              type="button"
              color="accent"
              class="upload-link"
              (click)="openImageDialog()"
            >
              <mat-icon inline>cloud_upload</mat-icon>
              Carica immagine
            </button>
          </div>

          <div *ngIf="previewImage" class="form-field">
            <img [src]="previewImage" alt="Anteprima immagine" width="150" />
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width"
        >
          Registrati
        </button>

        <div class="auth-options">
          <a
            routerLink="/login"
            mat-stroked-button
            color="accent"
            class="full-width"
          >
            Hai già un account? Accedi
          </a>

          <div class="divider">oppure</div>

          <button
            mat-stroked-button
            color="warn"
            class="auth-btn"
            (click)="registerWithGoogle()"
            type="button"
          >
            <span [innerHTML]="googleSVG(24)"></span>
            Accedi con Google
          </button>

          <button
            mat-stroked-button
            color="accent"
            class="auth-btn"
            (click)="registerWithGithub()"
            type="button"
          >
            <span [innerHTML]="gitHubSVG(24)"></span>
            Accedi con GitHub
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
